/* Global Styles */
* {
	box-sizing: border-box;
}

p {
	margin: 5px;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.ml-10 {
	margin-left: 10px;
}

button {
	cursor: pointer;
}

/* Card Styling */
.card-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 15px;
	margin-left: 30px;
}

.card {
	width: calc(25% - 20px);
	margin-bottom: 20px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	font-size: 14px;
}

.card-image {
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
}

.card-image img {
	width: 200px;
	height: 200px;
}

.card-details {
	padding: 24px;
}

.card-details > h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.contact-item {
	display: flex;
	align-items: center;
}

.contact-item svg {
	font-size: 18px;
}

.card-icons {
	display: flex;
	justify-content: center;
	padding: 10px;
	background: #fafafa;
	border-top: 1px solid #e8e8e8;
}

.card-icons > li {
	text-align: center;
	flex: 33.33;
}

.card-icons > li:not(:last-child) {
	border-right: 1px solid #e8e8e8;
}

.icon-btn,
.modal-heading > button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.icon-btn i {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.65);
}

#like-icon i {
	color: rgb(255, 0, 0);
}

/* Modal and Form Styling */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	z-index: 9999;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding-bottom: 20px;
	border-radius: 8px;
	width: 40%;
}

.modal-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 24px;
	color: rgba(0, 0, 0, 0.65);
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-radius: 4px 4px 0 0;
}

.modal-heading h4 {
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.modal-heading button {
	color: rgba(0, 0, 0, 0.45);
}

.form {
	padding: 25px 0;
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: flex-end;
	padding-bottom: 70px;
	padding-right: 20px;
	border-bottom: 1px solid #e8e8e8;
}

.form-element {
	width: 90%;
	display: flex;
}

.required {
	display: inline-block;
	margin-right: 4px;
	color: #f5222d;
	font-size: 14px;
	font-family: SimSun, sans-serif;
	line-height: 1;
}

.form-element label {
	width: 100px;
  margin-top: 5px;
}

.input-container {
	width: 100%;
}

.input-container input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	font-variant: tabular-nums;
	height: 32px;
	padding: 4px 11px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	line-height: 1.5;
	background-color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
}

.input-container input:focus {
	outline: #1890ff;
}

.input-border {
	border: 1px solid #d9d9d9;
}

.required-input {
	border: 1px solid red;
}

.error {
	color: red;
}

.button-container {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	margin-top: 20px;
}

.close-button {
	line-height: 1.499;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
	height: 32px;
	padding: 0 15px;
	font-size: 14px;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
	border: 1px solid #d9d9d9;
}

.save-button {
	color: #fff;
	background-color: #1890ff;
	border-color: #1890ff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
	line-height: 1.499;
	position: relative;
	display: inline-block;
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
	height: 32px;
	padding: 0 15px;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	margin-right: 15px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
	.card {
		width: calc(33.33% - 20px);
	}

	.modal-content {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.card {
		width: calc(100% - 20px);
		margin: 0 auto;
	}
	.card-gallery {
		gap: 20px;
		margin: 15px auto;
	}

	.modal-content {
		width: 95%;
	}
}
